/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}#top{width: 100%; height:500px;}

/*Page Styles*/
body{font-family: arial; background:#e2e2e2;}
section{width:100%; position:relative;}
section:nth-of-type(odd){background:#e2e2e2;}
    section:nth-of-type(odd) header{color:white;}
section:nth-of-type(even){background:white;}
    section:nth-of-type(even) header{color:#e2e2e2;}
.sectionwrapper{width:920px; margin:0px auto; padding:60px 0px 40px 0px;}
header{margin:0px 20px; width:100%; height:auto; font-size:120px; font-family: "nimbus-sans",sans-serif;  font-weight:bold; text-align:center;}


/*Top Section*/
#left{position:relative; width:40%; height:100%; background:#cdcdcd;}
    #menu{height:80%; position:relative; top:10%; right:10%; width:250px;}
    #menu ul,li{text-indent:none; margin:0px !important;}
    #menu ul{height:100%;
            display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;  
           -moz-box-flex-direction:column; -ms-flex-direction:column; -webkit-flex-direction:column; flex-direction:column;
            -webkit-justify-content:space-around; justify-content:space-around;}
    .menuitem{width:100%; height:45px; background:#b7b7b7;}
        .menuitem a{height:100%; border-radius:0px !important; transition:background .2s ease;}
#right{position:relative; width:60%; height:100%; background:#e2e2e2;}
    #logo{position:relative; left:15%; width:450px; height:230px; margin-top:125px; background:url(../img/logo.png);}
    #logo .menuitem{position:absolute; width:250px; left:100px; bottom:-60px;}

/*NavBar*/
.navbar{display:none; position:fixed; top:10px; width:100%; background:white; border-radius:0px;}

/*Team Section*/
#team header span{position:relative; top:-20px;}

/*Service Section*/
#services header{text-align:right; margin-top:-60px;}
#services header span{position:relative; top:5px; left:-20px;}
#services img{margin:40px auto 20px auto; width:920px; height:250px;}

/*Work Section*/
#work header{text-align:left; margin-top:-60px;}
#work header span{position:relative; top:5px; left:20px;}
#work img{margin:40px auto 20px auto; width:920px; height:250px;}

/*Connect Section*/

/*Footer Section*/
footer{width:100%; background:white;}
footer div{text-align:center; color:#e2e2e2; font-size:80px; font-family: "nimbus-sans", sans-serif;}

/*Helper Classes*/
.hide-text{text-indent: 100%; white-space: nowrap; overflow: hidden;}
.smaller{font-size:56px; line-height:56px;}

/*Page Arrows*/
.pagearrow{position:absolute; bottom:-34px; width:0px; height:0px; border-left:35px solid transparent; border-right:35px solid transparent; z-index:1;}
.pagearrow.left{left:10%;}
.pagearrow.right{right:10%}
.pagearrow.gray{border-top: 35px solid #e2e2e2;}
.pagearrow.white{border-top: 35px solid white;}

/*Drop Shadows*/
.diamond{-moz-box-shadow: 1px 0px 1px 0px #000; -webkit-box-shadow: 1px 0px 1px 0px #000; box-shadow: 1px 0px 1px 0px #000;}

/*Diamond CSS*/

    /*contain height*/
    #diamondwrapper{height:500px; margin-top:40px;}

    /*establish rows*/
    .diamondrow{
                position:relative; height:235px;
                display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;  
               -moz-box-flex-direction:row; -ms-flex-direction:row; -webkit-flex-direction:row; flex-direction:row;
                -webkit-justify-content:center; justify-content:center;
                }

    /*condense row elements*/
    .diamondrow:nth-child(2) .diamond{margin-top:-79px;}
    .diamondrow:nth-child(3) .diamond{margin-top:-194px;}

    /*diamond style*/
    .diamond{
            position:relative; height:165px; width:165px;
            background:url(../img/profiles.jpg) #e2e2e2; 
            color:white;
            margin:35px 35px 0px 38px;
            -webkit-transform:rotate(45deg); transform:rotate(45deg); 
            display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;  
            -moz-box-flex-direction:column; -ms-flex-direction:column; -webkit-flex-direction:column; flex-direction:column;
            -webkit-justify-content:center; justify-content:center;
            -moz-box-flex-shrink:0; -ms-flex-shrink:0; -webkit-flex-shrink:0; flex-shrink:0;
            transition:all .4s ease;
            cursor:pointer;
            }

    /*inner diamond content style*/
    .diamondcontent{
                    height:100%; width:100%;
                    line-height:20px;
                    background:rgba(0,0,0,0.7);
                    display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;  
                    -moz-box-flex-direction:column; -ms-flex-direction:column; -webkit-flex-direction:column; flex-direction:column;
                    -webkit-justify-content:center; justify-content:center;
                    -moz-box-flex-shrink:0; -ms-flex-shrink:0; -webkit-flex-shrink:0; flex-shrink:0;
                    opacity:0; transition:all .4s ease;
                    }
    
    /*cancel rotation for content*/
    .diamondcontent div{
                        width:100%;
                        text-align:center;
                        -webkit-transform:rotate(-45deg); transform:rotate(-45deg);
                        -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility:hidden;    
                        }

    /*text style of inner diamond content*/
    .diamondcontent span:nth-of-type(1){font-weight:bold; font-size:18px;}
    .diamondcontent span:nth-of-type(2){font-size:14px;}

    /*hover state*/
    .diamond:hover .diamondcontent{opacity:1;}

    /*establish background sprites*/
    #alex{background-position:0px 0px;}
    #coulton{background-position:0px -165px;}
    #jake{background-position:0px -330px;}
    #hillary{background-position:0px -495px;}
    #melissa{background-position:0px -660px;}
    #derek{background-position:0px -825px;}
    #tylerjo{background-position:0px -990px;}
    #brittney{background-position:0px -1155px;}
    #maggie{background-position:0px -1320px;}
    #drew{background-position:0px -1485px;}