/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}#top{width: 100%; height:500px;}

section{width:100%;}
#left{position:relative; width:40%; height:100%; background:#cdcdcd;}
    #menu{height:80%; position:relative; top:10%; right:10%; width:250px;}
    #menu ul,li{text-indent:none; }
    #menu ul{height:100%;
            display:flex;
            flex-direction:column;
            justify-content:space-around;}
    .menuitem{width:100%; height:45px; background:#b7b7b7;}
        .menuitem a{height:100%; border-radius:0px !important; transition:background .2s ease;}
#right{position:relative; width:60%; height:100%; background:#e2e2e2;}
    #logo{ position:relative; left:15%; width:450px; height:230px; margin-top:125px; background:url(../img/logo.png);}
    #logo .menuitem{position:absolute; width:250px; margin-left:100px; bottom:-60px;}

.arrow-down{position:absolute; right:10%; bottom:-34px; width:0px; height:0px; border-left:35px solid transparent; border-right:35px solid transparent; border-top: 35px solid #e2e2e2;}

#team .sectionwrapper{width:930px; margin:0px auto;}
#team header{margin:40px; text-align:center; color:#e2e2e2; font-size:90px; font-family: arial;}
#diamondwrapper{position:relative;}
.diamondrow{display:flex; flex-direction:row; justify-content:center;}
.diamond{position:relative; color:white; text-align:center; height:165px; width:165px; margin:35px 35px -80px 38px; background:#e2e2e2; -webkit-transform: rotate(45deg); display:flex; flex-direction:row; justify-content:center; align-items:center; flex-shrink:0; transition:all .4s ease;}
.diamond:hover{background:#b7b7b7;}
.diamondcontent{height:120px; width:120px; line-height:40px; display:flex; flex-direction:column; justify-content:center; -webkit-transform: rotate(-45deg);}